<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  
  <% if (typeof errors !== 'undefined' && errors.errors && errors.errors.length > 0) { %>
    <div class="notice">
      <ul>
        <% errors.errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>
  <%- messages() %>
  <p>You are logged in.</p>
